<div class="container profile-container">
    <div class="center">
        <div class="profile-image">
          <div class="square front">
            <img src="assets/logo/school.svg" alt="Education Icon" class="image">
          </div>
        </div>
      </div>
    <div class="profile-card">
      <div class="profile-content">
        <p>I hold a Bachelor of Engineering degree in Electronics and Communication Engineering from Alva's Institute of Engineering and Technology, where I graduated with a CGPA of 7.25. During my studies, I developed a strong foundation in electronics and communication principles. However, my true passion lies in software development. Throughout my academic journey, I actively honed my skills in programming, web development, and software engineering. I have gained proficiency in languages such as JavaScript and have hands-on experience with frameworks and tools like Angular, Node.js, and MongoDB. My coursework and projects have provided me with a solid understanding of both front-end and back-end development, allowing me to excel in full-stack development roles.</p>
      </div>
    </div>
  </div>
  